<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
		<title><%= @title %></title>
		<%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<div id="content" class="round">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>